/* common */
body {
    background-color: #1f1f2f;
    color: #efefee;
    width: 50%;
    min-width: 700px;
    margin: 0 auto;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header, main {
    flex: auto;
    flex-flow: row;
    padding: 1%;
}

a {
    color: inherit;
}

header h1 {
    margin-bottom: 10px;
}

nav {
    display: flex;
}

nav ul {
    list-style: none;
    margin-block-start: 0;
    padding-inline-start: 0;
}

nav li {
    float: left;
    display: inline;
    overflow: hidden;
}

nav.navigation li {
    margin: 0 15px 0 0;
}

nav a {
    color: #FF8080;
}

/* homepage */

section#introduction li {
    margin: 2px;
}

.work {
    text-decoration: none;
}

b#name {
    color: #8080FF;
}

.contact-box {
    border: 3px solid;
    padding: 1%;
    height: fit-content;
    width: 8em;
    margin: 5px;
}

.web-white {
    font-weight: bolder;
    font-size: large;
    color: white;
}

/* subs */
section.sub li {
    list-style: square;
}

.reference {
    color: #ababaa;
    font-size: 15px;
}

.date {
    color: #ababaa;
    font-size: 15px;
    text-align: right;
}

.date li {
    list-style: none;
}

img {
    max-width: 100%;
}

figcaption {
    color: #ababaa;
    font-size: 15px;
    text-align: center;
}

.delline {
    text-decoration-line: line-through;
}